@use "scss/notification";

* {
    img {
        height: 1em;
        width: auto;
    }

    padding: 0;
    margin: 0;

    --main-color: #1D3557;
    --green-color: #61be55;
    --green-color-hover: #a8dcc6;
    --button-color: #a8dcc6;
    --button-color-neutral:#457B9D;
    --red-color:#f87b7b;
    color: #1f1f1f;
    font-weight: 500;

    input {
        height: 2em;
        border: 1px solid #a5a5a5;
        padding-left: 0.5em;
    }
}
/********/
/**service classes*/
.on_loading{
    opacity: 0;
}
.loaded
{
    opacity: 1;
}
//colors
html{
    button{
        color: white;
    }
}

/*** service classes end ****/

#report_status {
    transition: all 0.5s ease;
    position: absolute;
    opacity: 0;
    font-size: 0.5em;
    z-index: 100;
    color: white;

    padding: 0.5em 10em;
}

h1 {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

body {
    width: 100%;
    --menu_width: 280px;

    display: flex;
    flex-direction: row;
    flex-grow: 0;
    font-family: "Roboto", sans-serif;

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2000;
    }

    .active {
        display: block;
    }

    font-size: 16px;

    background-color: #ffffff;
}

.drop_down {
    transition: transform 0.1s ease-in-out;
    height: 0.4em;
    width: auto;
}

button {
    border: none;
    &:hover{
        outline: 1px grey;
        border: none;
    }
    &:focus{
        outline: 1px grey;
        border: none;
    }
}

#main_menu {

    background-color: var(--main-color);
    
    width: 21em;
    padding-top: 1em;

    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    #close_menu_button{
        position:absolute;
        top: 1em;
        right: 1em;
        width: 1.6em;
        height: 1.6em;
        svg{
            width: inherit;
            height: inherit;
        }
    }
    h2 {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5em;
        margin-bottom: 1.2em;
        width: 7em;
        .logo {
            width: 1.5em;
            height: auto;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 15em;
        padding: 0.4em;
        padding-left: 1em;
        margin: 0.3em 0;
        background-color: transparent;
        font-size: 1em;
        border: none;
        border-left: solid 6px #565161;

        transition: border 0.2s ease-in-out;
        font-weight: 600;

        span {
            color: #ececec;
            width: 80%;
        }

        &:hover {
            border: none;
            border-left: solid 6px #516bff;
            cursor: pointer;

            .svg_arrow {
                transform: translateX(10px);
            }
        }

        .svg_arrow {
            width: 1.2em;
            height: auto;
            margin-right: 0.5em;

            transition: transform 0.2s ease-in-out;
        }
    }
    @media screen and (max-width:600px){
        width: 100%;
        z-index: 2000;
   position: absolute;
   button{
    width: 30em;
    max-width: 80%;
   }

        
    }
}
#expand_menu{
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height:100%;
    margin-left: -2em; 
    background-color: var(--main-color);
    svg{
        width: 2em;
        height: auto;
    }
    &:hover{
        opacity: 0.9;
    }
}

.fixed_buttons {

    display: flex;

    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    border-radius: 0;

    box-shadow: -5px 8px 8px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 8px 8px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 8px 8px -11px rgba(0,0,0,0.75);


    max-width: 100%;
    border-radius: 0 0 1em 0;
    overflow: hidden;
    padding: 0 2em;
    position: fixed;
    width:  100%;

    height: 3em;
    background-color: #f7f8ff;

    box-sizing: border-box;
    z-index: 1260;
    

    button{
        display: flex;
        align-items: center;
        border: none;
        outline: transparent;
       // margin-right: 1em;
        
        padding: 0 1em;
        height: 100%;
        font-size: 0.8em;
        //border-radius: 0.5em;

        transition: opacity 0.2s ease-in-out;
      
        svg {
            margin-right: 0.5em;
            height: 1.5em;
            width: auto;
        }
        @media screen and (max-width:500px){
            color: transparent;
            width: 3.5em;
            svg{
                position: absolute;
            }
   
            
        }
    }

    .save_button {
        background-color: var(--green-color);;

    }

    .neutral_button {
        background-color: var(--button-color-neutral);
    }

    .delete_button {
        background-color: var(--red-color);
   }

    button:hover{
      opacity: 0.8;
    }

}



.main_plate {
    height: 100vh;
    padding-bottom: 5em;

    overflow-y: scroll;
    -webkit-box-shadow: 10px -1px 232px -119px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -1px 232px -119px rgba(0, 0, 0, 0.75);
    box-shadow: 10px -1px 232px -119px rgba(0, 0, 0, 0.75);

    width: 100vw;
    background-color: #ffffff;
    //padding: 1em;
    h1{
        margin-top: 2em;
        font-size: 2em;
    }
    .card-header {
        position: relative !important;
    }

    .basik_uppdate_field {
        .note-editor {
            font-size: 1em;

            .note-editable {
                font-size: 0.6em;
            }
        }

        margin-top: 0.5em;

        border: 1px solid rgb(223, 223, 223);
        padding: 1em;

        h2 {
            font-size: 1em;

        }

        .note-editing-area {
            font-size: 2em;
        }

    }

    .result_sucess {
        background-color: rgb(151, 206, 144);
        color: rgba(11, 95, 0, 0.685);
    }

    .result_fail {
        background-color: rgba(233, 82, 82, 0.685);
        color: rgba(233, 82, 82, 0.685);
    }

    .input_fields {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        label {
            display: flex;
            flex-direction: column;
            color: rgb(160, 160, 160);
        }
    }

    .card-block {
        font-size: 0.5em;
    }

    .auto_gen {

        font-size: 0.8em;
        margin: 1em;
        margin-bottom: 0;
        border-radius: 0.5em;
        padding: 0.3em 0.8em;
        background-color: var(--button-color-neutral);
        transition: opacity 0.15s ease-in-out;
    }

    .auto_gen:hover {
        opacity: 0.8;
    }

    .product_operation {
        margin: 1em;
        .note-editor {
            font-size: 1em;
            .note-editable {
                font-size:1em;
            }
        }
        .sort_editor {
            margin: 1em;
            padding: 1em;
            border: 1px solid #a5a5a5;
            font-size: 0.8em;
            @media screen and (max-width:600px) {
                padding: 0.1em;
            }
            .top_buttons {
                background-color: white;
                display: flex;
                justify-content: center;
                padding-top: 0.5em;
                .add_item,
                .refresh_sort {

                    display: flex;
                    align-items: center;
                    border: none;
                    outline: transparent;
                   // margin-right: 1em;
                    
                    padding: 0 1em;
                    height: 3em;
                    font-size: 1em;
                    //border-radius: 0.5em;
            
                    transition: opacity 0.2s ease-in-out;
                  
                    svg {
                        margin-right: 0.5em;
                        height: 1.5em;
                        width: auto;
                    }
               
                    cursor: pointer;
            
                    &:hover {
                       opacity: 0.8;
                    }
                    @media screen and (max-width:600px) {
                        font-size: 0.9em;
                        margin-left: 0;
                    }
                }
                
                .add_item {
                    background-color: var(--green-color);
                }

                .refresh_sort {
                    background-color: var(--button-color-neutral);
    
                    svg {
                        width: 1.5em;
                        height: auto;
    
                    }
                }
            }
    
    
            .img_sorter {
                height: auto;
                max-height: 40em;
                overflow-x: hidden;
                overflow-y: scroll;
                font-size: 1em;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
    
                flex-direction: row;
                align-items: center;
                transition: opacity 0.15s ease-in-out;    

               

                #sortable-list {
                    width: 15em;
                    transition: opacity 0.15s ease-in;
                }
    
                .del {
                    background-color: var(--red-color);
                }
    
                .download_img {
                    background-color: var(--button-color-neutral);
                }
    
                .sortable-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 10px;
                    margin-right: 1em;
                    border: 1px solid #ccc;
                    margin-bottom: 5px;
                    cursor: move;
                    background-color: #f9f9f9;
                    border-radius: 4px;
                    transition: background-color 0.15s ease-in-out;
    
                    &:hover {
                        background-color: #b1cdff;
                    }
    
                    button {
                        border-radius: 0.2em;
                        border: transparent;
                    }
    
                    img {
                        height: 8em;
                        width: auto;
                    }
    
                    .img_editro_product {
                        border: 1px solid #000000;
                    }
    
                    .buttons {
                        padding: 0;
                        border: none;
                        margin-top: 0.5em;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 100%;
    
                        img {
                            padding: 0.2em;
                            height: 2em;
                            width: auto;
                        }
                    }
                }
    
    
    
            }
        }
        .product_option {
            font-size: 0.8em;
            display: flex;
            align-items: center;
            padding: 0.5em 1em;
            margin: 0.5em 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            // border: 1px solid rgb(223, 223, 223);
            label {

                display: flex;
                align-items: flex-start;
                flex-direction: column;
                max-width: 100%;
                width: 40em;
                margin-bottom: 0.2em;
            }

            input {

                width: 100%;
                max-width: 100%;
            }

            input[type="checkbox"] {
                max-width: 100%;
                /* Add if not using autoprefixer */
                margin-left: 1em;
                /* For iOS < 15 to remove gradient background */
                background-color: #fff;
                /* Not removed via appearance */
                margin: 0;
                height: 1.3em;
                width: 1.3em;
            }

            .note-editor {
                width: 100%;
                max-width: 100%;
            }
        }
        #tags_selector{
            display: flex;
            li{
                display: flex;
                width: 4em;
            }
            .remove_tag
            {
               
             
                svg{
                    width: 1em;
                    height: 1em;
                }
            }
        }
        #tag_list{
            display: flex;
        }
      
        @media screen and (max-width:500px){
        margin: 0.2em;            
        }
    }

}