.products {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: flex-start;
    justify-content: center;

    @media screen AND (min-width:700px){
        .product_item:hover .product_item_inside_block {
            a .product_img1  {
                display: none;
            }
            a .product_img2 {
                display: block;
            }
            .product_item_name {
                color: #557ee3;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    @media screen and (min-width: 850px) {
        .product_item:hover .product_item_inside_block .product_atributes {
            display: block;
            padding-top: 0.8em;
        }
        .product_item:hover {
            margin-bottom: -120px;
            z-index: 100;
            background-color: white;
            .product_item_inside_block {
                .product_item_name {
                    color: #557ee3;
                    text-decoration: underline;
                }
            }
        }
    }

    .product_item {
        // margin: 3px;
        overflow: show;
        .product_item_inside_block {
            width: 100%;
            a .product_img2 {
                display: none;
            }
            .product_atributes {
                display: none       ;
                color: #494949;
                font-size: 14px;
            }

            .product_item_butons_discount {
                position: absolute;
                height: 200px;
                margin-top: -10px;

                @media screen and (max-width: 800px) {
                    height: 150px;
                }
                @media screen and (max-width: 400px) {
                    margin-left: 5px;
                }
                .product_item_high_sales_label {
                    transform: translateX(-12px);
                    background-color: #fd9c2f;
                    color: white;
                    font-size: 18px;
                    font-weight: 4 00;
                    padding-left: 10px;
                    height: 22px;
                    width: 120px;
                    @media screen and (max-width: 800px) {
                        height: 18px;
                        width: 110px;
                        font-size: 16px;
                    }
                    @media screen and (max-width: 400px) {
                        height: 16px;
                        width: 90px;
                        font-size: 14px;
                    }
                }
                .product_item_high_sales_label::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 99%;
                    left: 0px;
                    border-left: 0px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #f08f20; /* Цвет треугольника */
                }
                .product_item_discount_label {
                    margin-top: 5px;
                    transform: translateX(-12px);
                    background-color: #ff5d5d;
                    color: white;
                    font-size: 18px;
                    font-weight: 4 00;
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 24px;
                    width: fit-content;
                    @media screen and (max-width: 800px) {
                        height: 18px;
                        font-size: 16px;
                    }
                    @media screen and (max-width: 400px) {
                        height: 16px;
                        font-size: 14px;
                    }
                }
                .product_item_discount_label::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 99%;
                    left: 0px;
                    border-left: 0px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #df4545; /* Цвет треугольника */
                }
                .product_item_flag_label {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 0px;
                    @media screen and (max-width: 360px) {
                        bottom: 20px;
                    }
                    img {
                        height: 30px;
                        width: auto;
                        @media screen and (max-width: 400px) {
                            height: 23px;
                        }
                    }
                }

                .product_item_video_label {
                    content: "";

                    bottom: 0;

                    left: 40px;
                    height: 28px;
                    width: 45px;
                    background-size: auto 28px;
                    margin-left: 5px;
                    background-image: url("../img/icon/Youtube.png");
                    background-repeat: no-repeat;
                    // background-size: auto, 36px;
                    @media screen and (max-width: 500px) {
                        left: 30px;
                        margin-left: 0px;
                    }
                    @media screen and (max-width: 400px) {
                        left: 30px;
                        height: 24px;
                        width: 35px;
                        background-size: auto, 35px;
                    }
                    @media screen and (max-width: 360px) {
                        bottom: 20px;
                    }
                }
            }
        }
        
     
        &:hover .product_item_user_buttons .add_favorite,
        &:hover .product_item_user_buttons .add_compare{
            opacity: 1;
            transform: translateX(0px);

        }



        .product_item_user_buttons {
            position: relative;
            width: 100%;
            height: 0px;
            overflow: visible;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            // justify-content: center;
            flex-shrink: 0;
            flex-grow: 0;

            
            .product_item_favorite_button, 
            .product_item_compare_button {
          
                transition: opacity 0.1s ease-in-out;
                flex-shrink: 0;
                flex-grow: 0;
                height: 38px;
                width: 38px;
                border: 1px solid #a6a6a6;
                border-radius: 5px;
                margin-bottom: 5px;
                margin-left: 30px;
               
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                img {
                    margin-top: 3px;
                    height: 28px;
                    width: 28px;
                }
                @media screen and (max-width: 600px) {
                    height: 32px;
                    width: 32px;
                    img {
                        margin-top: 1px;
                        height: 25px;
                        width: 25px;
                    }
                }
            }
            .product_item_compare_button {
                flex-shrink: 0;
                flex-grow: 0;
                height: 40px;
                width: 40px;
                border: 1px solid #a6a6a6;
                border-radius: 20px;

                margin-left: 30px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                img {
                    margin-top: 3px;
                    height: 24px;
                    width: 24px;
                }
                @media screen and (max-width: 600px) {
                    height: 30px;
                    width: 30px;
                    img {
                        margin-top: 1px;
                        height: 21px;
                        width: 21px;
                    }
                }
            }

            @media screen and (min-width: 1000px) {
                .add_favorite, 
                .add_compare{
                    opacity: 0;
                    transform: translateX(3px);
                    transition: opacity 0.15s ease-in-out ;
                    transition:  transform 0.15s ease-in-out ;

                    &:hover .toadd {
                        opacity: 1;
                    }
                }
                .remove_compare,
                .remove_favorite{

                    &:hover .toremove{
                        opacity: 1;
                    }
                    
                }
            }
        
          .added,.remove {
            z-index: 120;

          }
         
        }
        .hidden_params {
            display: none;
        }
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 12px;
        border: solid 1px #e0e0e0;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        width: 20%;

        @media screen and (max-width: 1400px) {
            width: 25%;
        }
        @media screen and (max-width: 1050px) {
            width: 33.3%;
        }

        height: auto;

        .product_item_link{ 
            .product_img,.product_img1,.product_img2 {
                width: 200px;
                height: 200px;
                margin: 0 auto;
            }
        }


        .product_price_rating_container {
            display: flex;
            flex-direction: column;
            .product_discount_previous_price {
                height: 20px;
                font-size: 18px;
                font-weight: 500;
                text-decoration: line-through;
                color: #a8a8a8;
                margin-bottom: -6px;
            }

            .product_discount_currrent_price {
                font-size: 20px;
                font-weight: 600;
                color: rgb(255, 94, 94);
            }
            .product_price {
                margin-top: 0.5em;
                margin-bottom: 0.2em;
                font-size: 20px;
            }

            .product_rating {
              
                margin-top: 7px;
                height: 19px;
                width: auto;
                // margin-left: 10px;
                svg {
                    height: 100%;
                    width: auto;
                }
                 .review_container
                    {
                        color: #414141;
                    }
                @media screen and (max-width:500px) {
                    .review_container
                    {
             
                        display: none;
                    }
                }
            }
        }
        .product_item_link {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .product_item_name {
                height: 2.5em;
                overflow-y: hidden;
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                color: #414141;

                padding-top: 10px;
                border-top: 1px dashed   #cdcdcd;
            }
        }
        @media screen AND (min-width:700px){
            .product_item_link:hover .product_item_name {
                text-decoration: underline;
            }
        }
        .product_add_basket_selected {
            border: solid grey 1px !important;
            background-color: white !important;
            color: #6e6e6e !important;
        }
        .product_add_basket , .product_order {
            transition: opacity 0.2s;
            width: 100%;
            background-color: #557ee3;
            color: white;
            font-size: 16px;
            font-weight: 500;
            height: 30px;
            border: none;
            margin-top: 5px;
            border-radius: 2px;
            img {
                margin-left: 4px;
                height: 18px;
                width: auto;
                margin-bottom: -4px;
            }
        }
  
        .product_delivery_status_ready {
            margin-top: 5px;
            font-weight: 400;
            font-size: 14px;
            img {
                width: auto;
                height: 20px;
                margin-bottom: -4px;
            }
        }

        @media screen and (max-width: 800px) {
            width: 33.3%;

            .product_item_link .product_img {
                height: 140px;
                width: auto;
            }
            .product_item_link .product_img1 {
                height: 140px;
                width: auto;
            }
            .product_item_link .product_img2 {
                height: 140px;
                width: auto;
            }

            .product_price_rating_container {
                .product_discount_previous_price {
                    font-size: 16px;
                }
                .product_discount_currrent_price {
                    font-size: 18px;
                }

                .product_rating {
                    height: 16px;
                }
            }
            .product_delivery_status_ready {
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    main section .products {
        align-items: stretch;
        .product_item .product_item_inside_block {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .product_item_link {
                .product_item_name {
                    height: 3.6em;
                    font-size: 16px;
                }
            }
            .product_price_rating_container .product_price ,.product_delivery_status_ready{
                font-size: 16px;
            }
            .product_price_rating_container {
                .product_rating {
                    margin: 0;
                    margin-top: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 690px) {
    main section .products {
        align-items: stretch;
        .product_item {
            width: 50%;
        }
    }
}
@media screen and (max-width: 400px) {
    main section .products {
        // align-items: stretch;
        .product_item .product_item_inside_block {
            .product_add_basket , .product_order {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                font-family: "Fira Sans", sans-serif;
                font-style: normal;

                img {
                    display: block !important;
                }
            }
        }
    }
}
@media screen and (max-width: 360px) {
    main section .products {
        .product_item {
            .product_item_inside_block {
                .product_item_link {
                    .product_item_name {
                        font-size: 12px;
                    }
                    .product_img,.product_img1,   .product_img2  {
                        height: 120px;
                    }
                }
                .product_price_rating_container {
                    .product_rating {
                        margin-bottom: 2px;
                        height: 14px;
                    }
                    .product_discount_previous_price,.product_discount_currrent_price,.product_price {
                        font-size: 16px;
                    }
                }
                .product_delivery_status_ready {
                    font-size: 12px;
                    // display: none;
                }
            }
        }
    }
}





.product_discount_previous_price {
    font-size: 16px;
}

.product_discount_currrent_price {
    font-size: 18px;
}
@media screen and (min-width: 600px) {
    .close_window:hover PATH {
      fill: var(--active_gray);
    }
  } 
@media screen and (min-width: 700px) {

    .close_window:hover PATH {
        fill: var(--active_gray);
      }
      
    .close_window:hover PATH {
        fill: var(--active_gray);
      }

    header #Head_buttons #lang .ru:hover,
    header #Head_buttons #lang .ua:hover {
      animation: lang_color 0.3s;
      color: rgb(175, 175, 175);
    }
    header #Head_buttons #search_button:hover,
    header #Head_buttons #catalog_button:hover {
      background-color: #4267c2;
    }
}